.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h5.login {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
  
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #1bbd7e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #159d68;
  }
  
  p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  p a {
    color: #1bbd7e;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }